<footer>
  <div class="container">
    <p>&copy; 2024 Quotes &amp; Authors. All rights reserved.</p>
    <div class="links">
      <a href="/about">About</a>
      <a href="/about#contact">Contact</a>
      <a href="">Home</a>
    </div>
  </div>
</footer>
<!-- <a href="/hidden-page">Secret</a> -->
</body>
</html>
